.bold-margin-bottom {
  font-weight: bold;
  margin-bottom: 10px !important;
  font-size: 20px;
}

.large {
  font-size: large;
  margin: 5px;
}

.spacer {
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid black;
  width: 100%;
}

.height {
  min-height: 400px;
  max-height: 800px;
}
.landingPage-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DaCapoLogo {
  height: 200px;
  width: 200px;
}

.landingPage-header p {
  margin: 0;
  line-height: 1;
}

.landingPage-header .group {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.landingPage-header .group h2 {
  margin-bottom: -10px;
}

.landingPage-header .group h1 {
  margin-top: -10px;
  margin-bottom: -10px;
}
.landing-page-image {
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-height: 800px;
  object-fit: cover;
}

/*************************************************
****************Responsive Design*****************
*************************************************/

@media (max-width: 1200px) {
  .height {
    min-height: 350px;
    max-height: 600px;
  }
  .h1-bold {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .height {
    min-height: 300px;
    max-height: 400px;
  }

  .landing-page-image {
    min-height: 200px;
    max-height: 300px;
  }
  .grid-50-50 {
    grid-template-rows: 1fr !important;
    grid-template-columns: 75% 25% !important;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .height {
    min-height: 250px;
    max-height: 300px;
  }

  .landing-page-image {
    min-height: 150px;
    max-height: 200px;
  }
}
