<div class="footer-container">
  <div class="footer-grid">
    <div class="footer-item" routerLink="IMPRESSUM"><p class="footer-font-size">IMPRESSUM</p></div>
    <div class="footer-item" routerLink="DATENSCHUTZ"><p class="footer-font-size">DATENSCHUTZ</p></div>
    <a class="instagram-container"
       aria-label="Folge uns auf Instagram"
       href="https://www.instagram.com/jugendchordacapo/"
       target="_blank"
       rel="noopener noreferrer">
    </a>
  </div>
  <div class="footer-note"><p class="footer-font-size">© {{ currentYear }} Da Capo al Fine, All rights reserved.</p></div>
</div>
