html {
  height: 100%;
}

body {
  margin: 0px;
  overflow-x: hidden !important;
  }
.content-container {
  margin: 20px auto;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-background-color {
  background-color: #283a8d;
}

.grid-50-50 {
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 1rem;
}

.grid-50-50-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: start;
}

.grid-25-75 {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: stretch;
  margin: 0;
  padding: 0;
  gap: 0;
  width: 100%;
  overflow: hidden;
}


.spacer-invisible-80px {
  height: 80px;
}
.spacer-invisible-40px {
  height: 40px;
}

.bold{
  font-weight: bold;
}

p {
  font-size: 20px;
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0px;
}

li {
  font-size: 16px;
  font-family: 'Poppins', Arial, sans-serif;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Bettina Signature', cursive;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  margin: 0px;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: bold;
}

h3 {
  margin: 0px;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.h2-blue-white {
  background-color: #283a8d;
  color: white;
  font-weight: bold;
  margin: 2px;
  padding: 5px;
  display: inline-block;
}

.h3-blue-white{
  background-color: #283a8d;
  color: white;
  font-weight: bold;
  padding: 5px;
  display: inline-block;
}

.image-container{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.width-80 {
  width: 80%;
}

/*************************************************
****************Responsive Design*****************
*************************************************/
@media (max-width: 1200px) {
  h1 {
   font-size: 20px;
  }
}

@media (max-width: 768px) {
  .grid-50-50-columns {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto !important;
  }
    .grid-25-75 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .style {
    padding: 15px;
    gap: 30px;
  }

  h1{
    font-size: 20px;
  }
  h2{
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .style {
    padding: 10px;
    gap: 20px;
  }

  .spacer-invisible-80px {
    height: 40px;
  }
}

/*************************************************
*******************Custom Fonts*******************
*************************************************/

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bettina Signature';
  src: url('./assets/Fonts/Bettina Signature Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
