@media (max-width: 1200px) {
  .grid-25-25-25-25-columns {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1rem;
    align-items: start;
  }
}

@media (max-width: 768px) {
    .grid-25-25-25-25-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: start;
  }
}
