<app-navigation [showLogo]="true"></app-navigation>
<div class="content-container">
  <h1>Bildergalerie</h1>

  @for (gallery of galleries; track gallery.title) {
    <div class="spacer-invisible-40px"></div>
    <h2>{{ gallery.title }}</h2>
    <div class="grid-25-25-25-25-columns width-80">
      @for (image of gallery.images; track image; let i = $index) {
        <div class="image-column">
          <img
            class="image-large"
            [src]="gallery.folderPath + image"
            [alt]="gallery.title + ' ' + (i + 1)"
          />
        </div>
      }
    </div>
  }

</div>
